PORT=5000
MONGO_URI=your_mongodb_atlas_uri_here
REDIS_URL=your_upstash_redis_url_here
JWT_SECRET=geosanket_super_secret_2026
FIREBASE_PROJECT_ID=geosanket
FIREBASE_PRIVATE_KEY_ID=from_service_account_json
FIREBASE_PRIVATE_KEY=from_service_account_json
FIREBASE_CLIENT_EMAIL=from_service_account_json
NODE_ENV=development